.input {
    width: 377px;
    margin-right: 12px;
}
.text {
    display: flex;
    justify-self: start;
    margin: 4px 0 0 16px;
}

.button {
    width: 178px
}

.wrapper {
    display: flex;
    justify-content: center;
}
.letters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 120px 0 0;
}